<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <title>Cape Town Together</title>
    <meta name="description" content="...">
    <link rel="stylesheet" href="assets/styles.css">
    <script src="assets/service-worker-init.js" defer></script>
  </head>

  <body>
    {% block content %}{% endblock %}
  </body>
</html>