{% extends "base.njk" %}

{% block content %}

<h1>Cape Town Together Website</h1>

{% for group in dynamic.groups %}
  <div>
    <span>{{ group.name }}</span>
    <a href="{{ group.link }}">Contact group</a>
  </div>
{% else %}
  <div>There was a problem loading groups</div>
{% endfor %}

{% endblock %}